<?xml version="1.0"?>
<ruleset name="NGT">
	<description>A custom set of code standard rules to check for WordPress themes.</description>
	<!-- Pass some flags to PHPCS:
		 p flag: Show progress of the run.
		 s flag: Show sniff codes in all reports.
	-->
	<arg value="ps"/>
	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>
	<arg name="parallel" value="8"/>
	<arg name="extensions" value="php"/>
	<!-- Check all files in this directory and the directories below it. -->
	<file>.</file>
	<exclude-pattern>*/bin/*</exclude-pattern>
  	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<rule ref="WordPress-Extra">
		<!-- Allow short open tags. -->
		<exclude name="Generic.PHP.DisallowShortOpenTag.EchoFound" />
		<exclude name="Squiz.PHP.CommentedOutCode.Found" />
		<!-- No inline docs
		<exclude name="Squiz.Commenting.ClassComment.Missing" />
		<exclude name="Squiz.Commenting.FunctionComment.Missing" />
		<exclude name="Squiz.Commenting.FileComment.Missing" />
		<exclude name="Generic.Commenting.DocComment.MissingShort" /> -->
	</rule>

	<!-- Set the minimum supported WP version. This is used by several sniffs.
		 The minimum version set here should be in line with the minimum WP version
		 as set in the "Requires at least" tag in the readme.txt file. -->
	<config name="minimum_supported_wp_version" value="4.9"/>

	<rule ref="WordPress.Arrays.MultipleStatementAlignment">
		<properties>
			<!-- No need to adjust alignment of large arrays when
      			 the item with the largest key is removed. -->
			<property name="exact" value="false"/>

			<!-- Don't align multi-line items if ALL items
       			 in the array are multi-line. -->
			<property name="alignMultilineItems" value="!=100"/>

			<!-- Array assignment operator should always be on
       			 the same line as the array key. -->
			<property name="ignoreNewlines" value="false"/>
		</properties>
	</rule>

</ruleset>
